.header {
    .navigation {
        display: flex;
        padding: 1rem;
        justify-content: space-between;

        a {
            text-decoration: none;
            color: black;

        }

        .authenticator {
            display: flex;
            justify-content: right;
            text-transform: uppercase;
            font-weight: bold;

            img {
                width: 8%;
                border-radius: 50%;
            }

            .dropdown {
                button {
                    background-color: transparent;
                    color: black;
                    border: none;
                }

                .dropdown-menu.show {
                    position: absolute;
                    inset: 0px 0px auto auto;
                    transform: translate(-18px, 38px) !important;
                }

                a {
                    text-transform: capitalize;
                    margin-inline: 0rem;

                    :hover,
                    :active,
                    :focus {
                        background: transparent;
                        color: inherit;

                    }
                }
            }

            a {
                margin-inline: 1rem;
            }
        }
    }

    .searchBarFilter {
        display: flex;
        justify-content: space-between;
        margin-inline: 2rem;

        @media screen and (max-width: 576px) {
            width: auto;
            display: block;
        }

        .filterSelects {
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: 576px) {
                width: auto;

            }

            .form-select {
                margin-inline: 0.5rem;
                font-size: 0.75rem;
            }
        }
    }
}