.BlogDashboard {
    padding: 2rem;
    width: calc(100% - 240px);
    float: right;
    margin-top: 2rem;

    .pdf {
        display: block;

      

        p {
            text-transform: uppercase;
            font-weight: bold;
        }

        .pdfPreview {
            text-align-last: right;
            form{
                text-align-last: center;
                width: 50%;
                margin: 0 auto;
            }

            h1 {
                text-align-last: center;
                font-weight: bold;
                text-transform: uppercase;

            }

            iframe {
                border: 0;
                width: 100%;
            }
        }

    }

    h2 {
        font-size: 25px;
        text-align-last: center;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    h1 {
        font-size: 20px;
    }
    .ckeditorForm{
        display: flex;
        select.form-select {
            margin-bottom: 1rem;
            margin-top: 0rem;
            color: gray;
            font-size: 14px;
            width: 25%;
            margin-inline: 2rem;
        }
        button{
            margin-bottom: 1rem;
        }
    }
}
input.form-control {
   margin-bottom:1rem ;
   color: gray;
   font-size: 14px;
}
select.form-select {
    margin-top:1rem ;
    color: gray;
    font-size: 14px;

}