.dashboard{
    padding:1.5rem;
    margin-top: 3rem;
    width: calc(100% - 240px);
    float: right;
    .topDashboard{
        display: flex;
        justify-content: space-between;
        .dashboardmetricscard{
           
            .card {
                /* width: 103%; */
                margin-inline: 1rem;
                margin-bottom: 1rem;
                width: 43%;
                background-color: aliceblue;
                border: none;
                box-shadow: 3px 0px 8px 0px rgba(0, 0, 0, 0.2); 
            }
        }
    }
    
    h2{
        font-size: 18px;
        padding: 1rem;
        text-transform: uppercase;
        font-weight: bolder;
        text-align-last: center;
        margin-top: 1rem;
    }
   .tableReports {
        margin-inline: 1rem;
        font-size: 12px;
        background: whitesmoke;
    }
}

  