.sideBar{
    width: 250px;
    float: left;
    height: 100%;
    position: fixed;
    box-shadow: 3px 0px 8px 0px rgba(0, 0, 0, 0.2); 
    top: 0;
    .nav-link{
        color: black;
        margin-bottom: 1rem;
        background: transparent;
        border-radius: 8px;
        font-size: 12px;
        width: 80%;
        font-weight: bolder;
        margin-left: 1rem;    
        line-height: 1.2rem;
      
        i{
            font-weight: bold;
            margin-inline: 1rem;
           
        }
       :hover, :active,:focus{
        background: #efefef;
        color: lightslategray;

       }
    }
    a.nav-link.nav-link:hover, :active,:focus {
        background: #efefef;
        color: lightslategray;
    }
}
